<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <target>System.err</target>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
  </appender>

  <appender name="LOG-FILE" class="ch.qos.logback.core.FileAppender">
    <file>target/bitrepository.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ERROR-FILE" class="ch.qos.logback.core.FileAppender">
    <file>target/bitrepository-error.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
  </appender>

  <root level="WARN">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="ERROR-FILE"/>
    <appender-ref ref="LOG-FILE" />
  </root>

  <logger name="org.bitrepository" level="DEBUG"/>
</configuration>