<configuration scan="true">
  <property name="DEFAULT_LOG_FILE" value="logs/pillar.log" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <!-- Will generate a logfile at ${LOG_FILE} if defined, else ${DEFAULT_LOG_FILE}-->
    <file>${LOG_FILE:-${DEFAULT_LOG_FILE}}</file>
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>

  <root level="WARN">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>

  <logger name="org.bitrepository" level="INFO" additivity="false">
    <appender-ref ref="FILE" />
  </logger>
</configuration>