<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

  <logger name="io.qameta.allure.AllureLifecycle" level="OFF" />
  <logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!--Due to bug https://github.com/testcontainers/testcontainers-java/issues/10713, Ryuk logs spurious warnings, so ignore them-->
    <logger name="org.testcontainers.utility.RyukResourceReaper" level="ERROR"/>
</configuration>

