<configuration scan="true">
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>log/reference-pillar-test.log</file>
    <encoder>
      <pattern>%d{MM-dd HH:mm:ss.SSS} %-5level %logger{36}  - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
  <logger name="org.bitrepository" level="INFO">
    <appender-ref ref="FILE" />
  </logger>
</configuration>


