.controlLink {
    float: right;
    font-size: 1.2em;
    margin-top: 0.9em;
}

.collectionStatus, .dataSizeGraph, .collectionPieBox, .legPieBox {
    border: 1px solid #cccccc;
    float: left;
    margin: 0 0 2em;
    padding: 2em 1%;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.collectionStatus, .collectionPieBox, .legPieBox {
    background-color: #F9FCFF;
}

.collectionStatus td, .collectionStatus th {
    text-align: right;
}

td.collectionName, th.collectionName {
    text-align: left;
}

td.error {
    background-color: #CC0000;
    color: white;
    font-weight: bold;
}

.table-hover tbody tr:hover td.error {
    background-color: #CC0000;
    color: white;
}

table.table .legPieBox th {
    text-align: center;
}

form.dashboardForm {
    margin: 0 0 2em 1.5em;
}

.dashboardForm select, .dashboardForm input[type="checkbox"] {
    margin: 0 0 0 1.5em;
    vertical-align: baseline;
}

.dataSizeGraph #placeholder {
    height: 300px;
    width: 96%;
}

.collectionPieBox, .legPieBox {
    padding: 0 2% 2em;
    width: 49%;
}

.collectionPieBox table, .legPieBox table {
    font-size: 1.2em;
    margin-top: 2em;
}

.collectionPieBox table td, .legPieBox table td {
    padding: 0 1em .4em 0;
    white-space: nowrap;
}

.collectionPieBox table td.dataLabel, .legPieBox table td.dataLabel {
    text-align: right;
    white-space: nowrap;
}

.collectionPieBox table td.dataData, .legPieBox table td.dataData {
    font-weight: bold;
}

.legPieBox {
    margin-left: 2%;
}

.collectionPie, .legPie {
    float: left;
    margin-bottom: 2em;
    min-width: 350px;
    width: 48%;
}

.collectionCheckBoxes {
    display: inline-block;
    margin-top: .8em;
    white-space: nowrap;
}

.checkboxLegendWrap {
    border: 1px solid #cccccc;
    display: inline-block;
    height: 10px;
    margin-right: -2px;
    padding: 1px;
    position: relative;
    top: 1px;
    width: 13px;
}

.checkboxLegend {
    height: 10px;
    width: 13px;
}