<?xml version="1.0" encoding="UTF-8"?>
<web-app>
   	<display-name>Bitrepository webservice</display-name>
   
 	<welcome-file-list>
        <welcome-file>index-v2.html</welcome-file>
		<welcome-file>index-v1.html</welcome-file>
	</welcome-file-list>
	
   	<servlet>
 		<servlet-name>Bitrepository-webclient</servlet-name>
 		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
 			<param-name>com.sun.jersey.config.property.packages</param-name>
 			<param-value>org.bitrepository.webservice</param-value>
 		</init-param>
 	</servlet>
 	
 	<servlet-mapping>
 		<servlet-name>Bitrepository-webclient</servlet-name>
 		<url-pattern>/repo/*</url-pattern>
 	</servlet-mapping>
 	
 	<listener>
		<listener-class>org.bitrepository.webservice.ShutdownListener</listener-class>
	</listener>
 	
</web-app>


